{% extends 'theses/index.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 14px/1.5 sans-serif; }
    .example-wrapper code { background: green; padding: 3px 6px; }
</style>
<body>
    <h1>Liste des théses tendances</h1>




</body>
{% endblock %}
